@import '~antd/dist/antd.css';

#root {
  height: 100%;
  background:#F0F2F5;
}

/* Global */
.nowrap {
  white-space: nowrap;
}

/* App component */
.App-layout {
  padding: 16px
}

/* Radio component */
.Radio {
  background: transparent;
}

.Radio-image {
  border-radius: 50px !important;
  background-size: cover !important;
}

/* RadioPlayer component */
.RadioPlayer-volume .ant-slider-rail {
  background-color: white;
}
/* PreviousSongList component */
.PreviousSongList-search {
  width: 200px;
  margin-bottom: 8px;
}

/* VolumeIcon component */
.VolumeIcon-color {
  /* VolumeOn icon is layering of two icons.
   As the icons have an alpha value, where they overlap, it is darker.
   So to avoid that I set the color of the icon to be the same as the normal color.
  */
  color: #535455;
}
