@import '~antd/dist/antd.css';

/*
   Ideally the color and magic number should come from AntD framework.
   However, for the moment there is no less integration, so I put them manually.
*/

#root {
  height: 100%;
  background:#F0F2F5;
}

/* Global */
.nowrap {
  white-space: nowrap;
}

/* App component */
.App-layout {
  padding: 16px
}

/* RadioTsugumi component */
@media screen and (max-width: 950px) {
  .RadioTsumugi-player-width-management {
    flex: 0 0 500px !important;
  }
}

/* Radio component */
.Radio {
  background: transparent;
}

.Radio-image .ff-canvas,
.Radio-image .ff-image {
  border-radius: 50px !important;
}

/* RadioPlayer component */
.RadioPlayer-volume .ant-slider-rail {
  background-color: white;
}
/* PreviousSongList component */
.PreviousSongList-search {
  width: 200px;
  margin-bottom: 8px;
}

.EventCountdown .ant-statistic-content{
  display: inline-block ;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}

/* VolumeIcon component */
.VolumeIcon {
  /*
   VolumeOn icon is layering of two icons.
   As the icons have an alpha value, where they overlap, it is darker.
   So to avoid that I set the color of the icon to be the same as the normal color.
  */
  color: #535455;

  /*
    Align font-size on 'large' of ant size
   */
  font-size: 18px;

  /*
    Align the icon correctly (with the volume in this case)
   */
  display: flex;
}
