@import '~antd/dist/antd.css';

#root {
  height: 100%;
  background:#F0F2F5;
}

.App-layout {
  padding: 16px
}

.Radio {
  background: transparent;
}

.Radio-player {
  width: 100%;
}

.Radio-image {
  border-radius: 50px !important;
  background-size: cover !important;
}

.nowrap {
  white-space: nowrap;
}

.Previously-search {
  width: 200px;
  margin-bottom: 8px;
}

.Radio-volume .ant-slider-rail {
  background-color: white;
}

/* VolumeOn icon is layering of two icons.
   As the icons have an alpha value, where they overlap, it is darker.
   So to avoid that I set the color of the icon to be the same as the normal color.
  */
.volume-on-icon-color {
  color: #535455;
}